<log4net debug="true">
  <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="LOGS/Banana.log"/>
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="25MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
    </layout>
    <layout type="log4net.Layout.XMLLayout">
      <prefix value=""/>
    </layout>
  </appender>
  <appender name="ApplicatoinMonitorAppender" type="log4net.Appender.UdpAppender">
    <RemoteAddress value="127.0.0.1" />
    <RemotePort value="9999" />
    <layout type="log4net.Layout.XMLLayout">
      <prefix value="" />
    </layout>
  </appender>
  <root>
    <!-- minimum level to log -->
    <level value="DEBUG" />
    <appender-ref ref="RollingLogFileAppender" />
    <appender-ref ref="ApplicatoinMonitorAppender" />
  </root>
</log4net>